In [ ]:
"""
Agenda

1. String Methods
2. Control flow statements
"""

In [2]:
# String Methods

#String Indexing - here it starts from zero
# if there are N characters in the string, then the index will range from 0 to N-1
# to index in reverse order i.e. from behing the index ranges from -1 to -N
#       012345678
name = "Alexender"

name[1] # this methos is helping us to access individual character from the given string

'l'

In [4]:
name[-2] # accessing the element from behind

'e'

In [6]:
# String Slicing
# It means extracting chunk form the given string.

name = "Alexender"

name[1:4] # here is 1 is starting point which is included and 4 is ending point where 4 is excluded

'lex'

In [9]:
name [-4:-3]

'n'

In [10]:
name [-1:-8] # this is will give blank coz the it works in left to right order

''

In [23]:
# example

date = "10/10/2023"
# extract the date from the date string

print(f"""Date is: {date[0:2]} 
Month is: {date[3:5]}
Year is: {date[6:]}""") # here date [6:] take 6 as starting point and ending point as end of the string as ending point is not given

Date is: 10
Month is: 10
Year is: 2023

In [28]:
# example
dob = input("Enter the date of birth in YYYY-MM-DD format: ")
print(f"Your Date of Birth is: {dob}")

your_age = 2023 - int(dob[0:4])

print(f"Your current age: {your_age}")

Your Date of Birth is: 1997/03/02
Your current age: 26

In [2]:
name = "Alexender"

name[0:5:1] # name [start_point : end_point : steps]

'Alexe'

In [6]:
name[0:5:2] # name [start_point : end_point : steps]
# here it is skipped alternate character as there were 2 steps as 2 step is included

'Aee'

In [7]:
name[0:5:3] # name [start_point : end_point : steps]
# here it is skipped 2 character as there were 3 steps as 3rd step is included

'Ax'

In [8]:
name = "Alex John Jacobson"

name[0::2] #here space is also considered as character

'Ae onJcbo'

In [11]:
name = "Alex John Jacobson"
name[::]

'Alex John Jacobson'

In [12]:
name = "Alex John Jacobson"
name[::-1] # it reverses the string

'nosbocaJ nhoJ xelA'

In [14]:
name = "Alex John Jacobson"
name[::-2] # it reverses the string
# it is reversed but skipping the one character

'nsoa hJxl'

In [17]:
# Palindrome Sequence (reverse)

'''
Read it from left or right it will be same
e.g. MOM, MADAM, BOB
'''

data = input("Enter the string: ")
print (f"String: {data}")

if data == data[::-1]:
    print(f"{data} is Palindrome")
else:
    print("{data} is Not Palindrome")

String: radar
radar is Palindrome

In [20]:
data = input("Enter the string: ")
print (f"String: {data}")

if data == data[::-1]:
    print(f"{data} is Palindrome")
else:
    print(f"{data} is Not Palindrome")

#case sensitivity is considered here

String: Radar
Radar is Not Palindrome

In [31]:
# Mutability (which is subject to change or which can be changed)

name = "Sunny"
#replace S with F

name[0] = "F"

# Strings are not mutable

TypeError: 'str' object does not support item assignment

In [32]:
name = "F" + name[1:]
name

'Funny'

In [33]:
s = name.replace("y","yy")
print(s)

Funnyy

In [35]:
j = "Alex Jacob"
j = j.replace("Alex","John")
print(j)

John Jacob

In [37]:
# Lenght of String

k = "ALex"
len(k)
#it gives total number of characters

4

In [39]:
# Example
f = "       Alex     "
# find the lengh of the name Alex

len(f.replace(" ",""))

4

In [ ]:
"""
Till Now
1. String Indexing
2. String Slicing
3. String Skipping
4. String Reversal
5. String Mutablity - String is immutable coz we cannot change the character of the string directly using index numbers.
6. String Replace method
7. String Length method
"""

In [43]:
student_name = "Alexender Johnson"

print(student_name[1]) # string indexing

print(student_name[1:4]) # string slicing

print(student_name[1::2]) # string skipping

print(student_name[::-1]) # string reversal

print(student_name.replace("Alexender", "Alex")) # string replace method

print(len(student_name)) # string upper method

student_name [0] = "F"

l
lex
lxne ono
nosnhoJ rednexelA
Alex Johnson
17

TypeError: 'str' object does not support item assignment

In [45]:
# Count Soecific Characters in String

name = "Alexxx"

name.count("x")
#counts the number of x in the string Alexxx

3

In [46]:
# Split Operation

k = "Alex John Jacob"

k.split(" ")
# spliting with the help of space

['Alex', 'John', 'Jacob']

In [47]:
first_name, middle_name, last_name = k.split(" ")

print(f"""
first_name = {first_name}
middle_name = {middle_name}
last_name = {last_name}
""")

first_name = Alex
middle_name = John
last_name = Jacob

In [49]:
DOB = "02/03/1997"

date, month, year = DOB.split("/")

print(f"""
Date: {date}
Month: {month}
Year: {year}
""")
# splitting with the help of /

Date: 02
Month: 03
Year: 1997

In [52]:
date = "12/12/1992"

a = date.split("/")
a

['12', '12', '1992']

In [53]:
a[1]

'12'

In [58]:
# Lower, uppder, title Case

name = "Alex John"

print(name.lower())
print(name.upper())
print(name.title())
print(name.capitalize()) # it take first letter of of whole string capital and reat all small
print(name.swapcase()) # it does the reverse of input

alex john
ALEX JOHN
Alex John
Alex john
aLEX jOHN

In [63]:
# Palindrome example

o = (input("Enter the word")).lower()
if o == o[::-1]:
    print(f"{o} is a palindrome")
else:
    print(f"{o} is not a palindrome")

radar is a palindrome

In [64]:
# Join Method

name = "Alex John"
"*".join(name)
# it joins each and every element with *

'A*l*e*x* *J*o*h*n'

In [65]:
name = "Alex John"
"_".join(name)
# it joins each and every element with _

'A_l_e_x_ _J_o_h_n'

In [66]:
first_name = "Alex"
last_name = "John"

" ".join(first_name, last_name)

TypeError: join() takes exactly one argument (2 given)

In [67]:
#alternative to string revarsal

name = "Alex John"

"".join(reversed(name))

'nhoJ xelA'

In [68]:
# Strip - Remove the extra spaces from front and back of the string

name = "   Alex   "

name.strip()

'Alex'

In [69]:
#left strip/left trim

name.lstrip()

'Alex   '

In [71]:
#right strip/ right trim

name.rstrip()

'   Alex'

In [76]:
name = "+++Alex===="

print(name.strip("+"))
print(name.lstrip("+"))
print(name.rstrip("="))
print(name.strip("+","=")) # it takes only one argument

Alex====
Alex====
+++Alex

TypeError: strip expected at most 1 argument, got 2

In [77]:
# Formatting

name = "Alex"

name.center(10,"#")
# it makes sure that total lenght is 10 and put the name Alex in the middle

'###Alex###'

In [78]:
name = "Alexx"

name.center(10,"#")

'##Alexx###'

In [93]:
# Checking string cases

name = "ALEX"

print(name.isupper())
print(name.islower())
print(name.istitle())

True
False
False

In [90]:
#Checking for Spaces 

name = "Alex   "
print(name.isspace())
# it gives false coz it is only checking for the space.

False

In [92]:
name = " "
print(name.isspace())
#here is only space hence true.

True

In [97]:
# example

name = input("Enter your name: ")

if name.istitle():
    print("in correct format")
else:
    print("Will auto correct it for you")
    print(name.title())

Will auto correct it for you
Alex

In [98]:
name = input("Enter your name: ")

if name.isspace():
    print("Wrong input, Pls try again")
elif name.istitle():
    print("in correct format")
else:
    print("Will auto correct it for you")
    print(name.title())

Wrong input, Pls try again

In [99]:
# checking for digit

mobile_number = "98877sssccdf"
mobile_number.isdigit()

False

In [105]:
# example 

mob_no = input("Enter your mobile phone number: ")

print(f"Phone Number: {mob_no}")
if mob_no.isdigit() and len(mob_no)==10 and mob_no != "0000000000":
    print("Your phone number is valid")
else:
    print("Your phone number is invalid")

Phone Number: 8555202324
Your phone number is valid

In [109]:
# write to code to validate Indian Mobile phone number

mob_no = input("Enter your mobile phone number with country code: ")
print(f"Phone Number: {mob_no}")

if mob_no.startswith("+91") and mob_no[1:].isdigit() and len(mob_no)==13 and not mob_no.count("0")>7:
    print("Your phone number is valid")
else:
    print("Your phone number is invalid")

Phone Number: +9185552020000
Your phone number is invalid

In [1]:
PAN_NUMBER = "EXYUP2357X"
PAN_NUMBER.isalnum() # check for aplha numeric case

True

In [2]:
PAN_NUM = "2345637890"
PAN_NUM.isalnum() # check for aplabets OR numeric case

True

In [3]:
Pan_No = "aerdvtgyeo"
Pan_No.isalnum() #check for aplhabets OR numeric case

True

In [8]:
name = "alex john"
name.isalpha() #its giving false coz space is not a alphabet or numeric case

False

In [9]:
name = "John**Jacob"
name.isalpha() # its giving false coz * is not aplhabet or numeric case

False

In [6]:
# check if pan number is valid or not

pan_num = (input("Enter your pan number: ").upper())

if len(pan_num) == 10 and (pan_num[:5] and pan_num[9]).isalpha() and pan_num[5:9].isnumeric():
    print(f"{pan_num} is a valid pan number")
else:
    print(f"{pan_num} is not a valid pan number")

DXMPP4622P is a valid pan number