In [3]:
"""
1. Variable Case Sensitivity
2. Reserved words in Python
3. Multi assignment of variables
4. User input
5. Type casting and type conversion
6. Memory block
---------------------------------------
7. Operators
    Logical
    Equality
    Comparison
    Arithmetic
    Bitwise
    Operator for Sets and Dictionary
8. String Methods
"""

'\n1. Variable Case Sensitivity\n2. Reserved words in Python\n3. Multi assignment of variables\n4. User input\n5. Type casting and type conversion\n6. Memory block\n7. Operators\n    Logical\n    Equality\n    Comparison\n    Arithmetic\n    Bitwise\n    Operator for Sets and Dictionary\n8. String Methods\n'

In [5]:
#Variable Case Sensitivity

Ten = 10
ten = 10

""" Both are different vairables in terms of lower and upper case letters"""

' Both are different vairables in terms of lower and upper case letters'

In [ ]:
#Reserved words in Python

"""
1. We should not use reserved words as variable names
2. Also python does not restrict user ot use reserved words as variable names
"""

In [6]:
print = "Hi" #python does not restrict user ot use reserved words as variable names
type (print)

str

In [11]:
print (print) # can not use print keyword to print as print is used as variable before

<built-in function print>

In [8]:
del print # to delete the print variable we created in above block

In [9]:
print ("Hello World")

Hello World

In [10]:
"""
Reserved Words -
and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
def       for       lambda    try
"""

'\nReserved Words -\nand       del       from      not       while    \nas        elif      global    or        with     \nassert    else      if        pass      yield    \nbreak     except    import    print              \nclass     exec      in        raise              \ncontinue  finally   is        return             \ndef       for       lambda    try\n'

In [23]:
# Multi assignment of variables

a, b, c = 10, 20.22, 'hi'

In [24]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [60]:
first_name, last_name = "Johan", "Jacob"

print(F"{first_name}.{last_name}@helloworld.com")

Johan.Jacob@helloworld.com

In [25]:
x, y, z = 10  # not having enough inputs to all the varibales

TypeError: cannot unpack non-iterable int object

In [27]:
i=j=k=10
print(i,j,k)

10 10 10

In [31]:
#User input

name= input("Enter your Name: ")
print(f"You have entered your name as {name}")

You have entered your name as jOHN

In [39]:
A = input ("Enter value for A : ")
B = input ("Enter value for B : ")

print (f"A: {A}, B: {B}")
print (f"Sum of A & B is: {A + B}")
print(type(A), type(B))

A: 13, B: 13
Sum of A & B is: 1313
<class 'str'> <class 'str'>

In [40]:
#In above addition its shwoing the anwer as 1212 because it user input has been taken as string values.
#Hence we need to convert the user input into integers of floating point numbers this process is called as type conversion.

In [41]:
#type conversion and type casting
#we can convert data type of one variable to another if it is allowed


A = float(input ("Enter value for A : "))
B = float(input ("Enter value for B : "))

print (f"A: {A}, B: {B}")
print (f"Sum of A & B is: {A + B}")
print(type(A), type(B))

A: 12.0, B: 14.5
Sum of A & B is: 26.5
<class 'float'> <class 'float'>

In [47]:
#string to integer

S = "50"
print(f"Data type Before: {type(S)}, value of S: {S}")
S = int(S)
print(f"Data type After: {type(S)}, value of S: {S}")

Data type Before: <class 'str'>, value of S: 50
Data type After: <class 'int'>, value of S: 50

In [48]:
#string to integer

S = "50.222" 
print(f"Data type Before: {type(S)}, value of S: {S}")
S = int(S) 
print(f"Data type After: {type(S)}, value of S: {S}")

Data type Before: <class 'str'>, value of S: 50.222

ValueError: invalid literal for int() with base 10: '50.222'

In [49]:
#float to integer

S = 50.222
print(f"Data type Before: {type(S)}, value of S: {S}")
S = int(S) 
print(f"Data type After: {type(S)}, value of S: {S}")

Data type Before: <class 'float'>, value of S: 50.222
Data type After: <class 'int'>, value of S: 50

In [59]:
#empty string to integer

S = ""
print(f"Data type Before: {type(S)}, value of S: {S}")
S = int(S) 
print(f"Data type After: {type(S)}, value of S: {S}")

Data type Before: <class 'str'>, value of S:

ValueError: invalid literal for int() with base 10: ''

In [51]:
#integer to float

S = 50
print(f"Data type Before: {type(S)}, value of S: {S}")
S = float(S) 
print(f"Data type After: {type(S)}, value of S: {S}")

Data type Before: <class 'int'>, value of S: 50
Data type After: <class 'float'>, value of S: 50.0

In [52]:
#integer to boolean
# True in Binary = 1
# False in Binary = 0

S = 10
print(f"Data type Before: {type(S)}, value of S: {S}")
S = bool(S) 
print(f"Data type After: {type(S)}, value of S: {S}")

Data type Before: <class 'int'>, value of S: 10
Data type After: <class 'bool'>, value of S: True

In [54]:
#float to boolean

S = 0
print(f"Data type Before: {type(S)}, value of S: {S}")
S = bool(S) 
print(f"Data type After: {type(S)}, value of S: {S}")

Data type Before: <class 'int'>, value of S: 0
Data type After: <class 'bool'>, value of S: False

In [55]:
#float to boolean

S = -5
print(f"Data type Before: {type(S)}, value of S: {S}")
S = bool(S) 
print(f"Data type After: {type(S)}, value of S: {S}")

Data type Before: <class 'int'>, value of S: -5
Data type After: <class 'bool'>, value of S: True

In [56]:
#string to boolean

S = "Hi"
print(f"Data type Before: {type(S)}, value of S: {S}")
S = bool(S) 
print(f"Data type After: {type(S)}, value of S: {S}")

Data type Before: <class 'str'>, value of S: Hi
Data type After: <class 'bool'>, value of S: True

In [62]:
#empty string to boolean

S = ""
print(f"Data type Before: {type(S)}, value of S: {S}")
S = bool(S) 
print(f"Data type After: {type(S)}, value of S: {S}")

"""
Note - Converting any non zero values and 
       string values into boolean values will give True as answer.
Note - Empty string will give False as answer after 
       converting from string to Boolean.
"""

SyntaxError: EOF while scanning triple-quoted string literal (3618039221.py, line 9)

In [61]:
# Calculate the age of the user

name = input("Enter you name: ")
year_of_birth = int(input("Enter year of birth: "))

age = 2023 - year_of_birth

print(f"Hello {name}, you are {age} years old.")

Hello Alex, you are 26 years old.

In [66]:
#Memory Block
"""
let say,
 a= 10 -> address/memory block 101
 b= 20 -> address/memory block 102
 c= 10 -> address/memory block 103
 but for c it take same memory address as a coz value is same
"""

'\nlet say,\n a= 10 -> address/memory block 101\n b= 20 -> address/memory block 102\n c= 10 -> address/memory block 103\n but for c it take same memory address as a coz value is same\n'

In [65]:
a = 22
b = 32
c = 22

print(id(a)) # -> id(a) t check the memory address of a or any variable
print(id(b))
print(id(c))

140730156133952
140730156134272
140730156133952

In [67]:
c = 22 + b
print(id(c))

a = 100
print(id(a))

"""
Note - Memory is assigned to the value of vairale passed not the variable name.
"""

140730156134976
140730156136448

In [70]:
a,b,c = "Hi", 22.22, "Hi"

print(id(a),id(b),id(c))

1406549740592 1406548921296 1406549740592