
# Agenda

# In built Data Structures in Python
# 1. List
# 2. Tuple
# 3. Set
# 4. Dictionary

# --------------------------------------------------------------------------

# LIST

In [55]:

A = [1,2,3,4] # list is collection of diffrent items/elements
type(A)

list

In [26]:
B = [1,"John",2.5,3+2j] #list can have different types of elements
type(B)

list

In [27]:
"""
What is the difference between list of python and array of c/c++ ?
-> Array contains elements of same data type and list of python can contain elements of different data types.
"""

'\nWhat is the difference between list of python and array of c/c++ ?\n-> Array contains elements of same data type and list of python can contain elements of different data types.\n'

# Printing elements of list

In [28]:

A = [1,2,3,4]
for elements in A:
    print(elements)

1
2
3
4

# lenght of list

In [29]:

A = [1,2,3,4]
len(A)

4

In [30]:
B = [1,"John",2.5,3+2j]
for i in range(len(B)):
    print(f"Element {i+1}: {B[i]} & Data type of element {i+1}: {type(B[i])}")

Element 1: 1 & Data type of element 1: <class 'int'>
Element 2: John & Data type of element 2: <class 'str'>
Element 3: 2.5 & Data type of element 3: <class 'float'>
Element 4: (3+2j) & Data type of element 4: <class 'complex'>

# Indexing and Slicing of list

In [31]:

A = [1,2,3,4,5,6,7,8,9,10]
A[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
A = [1,2,3,4,5,6,7,8,9,10]
A[0:8:2]

[1, 3, 5, 7]

In [33]:
A = [1,2,3,4,5,6,7,8,9,10] 
for i in range(0,8,2): #we can perform same thing "A[0:8:2]" using for loop also 
    print(i, A[i])

0 1
2 3
4 5
6 7

In [34]:
A = [1,2,3,4,5,6,7,8,9,10] 
A[::-1] #negative indexing (revering the list in python)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [35]:
c = [1,2,3,4,5]
for i in range (-1,-len(c)-1,-1): # second end of the range is excluded hence we have used -len(c)-1
    print(c[i])

5
4
3
2
1

# Updating List elements at specific index also called as mutable operations

In [36]:

b = [1,2,3]
print(f"Orginal List: {b}")
b[0]=4
print(f"list after updating 0th index value: {b}")

Orginal List: [1, 2, 3]
list after updating 0th index value: [4, 2, 3]

In [37]:
b[-2]="ABC"
b

[4, 'ABC', 3]

# concatination of Lists

In [38]:

a = [78,90.22,'xyz']
a+b #this operation does not change the value pf a or b as it not assigned to any of the variable.

[78, 90.22, 'xyz', 4, 'ABC', 3]

In [39]:
a = a + b # this changes the value of a as a + b is stores in a
a

[78, 90.22, 'xyz', 4, 'ABC', 3]

In [40]:
a*2

[78, 90.22, 'xyz', 4, 'ABC', 3, 78, 90.22, 'xyz', 4, 'ABC', 3]

# Basic List Operations

### Length of lists

In [42]:
#Len()
 
A = [1,2,3,4,5,6]
len(A)

6

### Creating a empty list

In [43]:
my_list = [] # not recommended method to create empty list
len(my_list)

0

In [44]:
my_list = list() #recommanded method to create empty list
len(my_list)

0

In [1]:
list_of_itmes = list() #empty list

N = int(input("Number of items to purchase: "))
for i in range(0,N):
    user_input = input("Enter the item: ")
    list_of_itmes = list_of_itmes + [user_input] # one way to append the empty list

print(list_of_itmes)

['a']

In [2]:
listofitems = list()

N = int(input("Enter the number of items: "))
i=0
while i < N:
    userinput = input("Enter the item: ")
    listofitems = listofitems + [userinput]
    i = i + 1
print(listofitems)

['a', 'b']

### Check membership in a list -> checks if element is present in the list

In [ ]:
# 1. IN -> checks if the given element is in the list.

my_list = [1,2,3,4,"a"]
"a" in listofitems  #checks if the "a " is in the given list or not & returns a boolean value

if 1 in my_list:
    print("1 is in the list")
else:
    print("1 is not in the list")

1 is in the list

In [ ]:
# 2. NOT IN -> checks if given element is not in the list.

abc_list = [1,2,3,"a"]
if "b" not in abc_list:
    print("b is not is the list")
    abc_list = abc_list + ["b"]
    print(f"'b' is been added to the list: {abc_list}")

b is not is the list
'b' is been added to the list: [1, 2, 3, 'a', 'b']

### max() -> we can find max value from the given list.

In [ ]:

list1 = ["abc", "ertt", "sdftg"]
list2 = [1,2,3]
list3 = ["abc", "ertt", "sdftg",4,5,6]
print(max(list1)) # -> return the element which is has max ASCII values 
print(max(list2)) # -> return the element which is of max value
print(max(list3)) # -> Does not work for the list of diff data type

sdftg
3

TypeError: '>' not supported between instances of 'int' and 'str'

In [ ]:
list4 = ["a","b","c","d","e","f","g","h","i","j"]
print(max(list4)) # this return the element whose ASCII value is the highest

j

In [ ]:
list5 = ["A","b","d","D"]
print(max(list5)) # here "d" has the highest ASCII value

d

In [ ]:
list6 = [1+5j,2+3j]
print(max(list6)) # does not work for complex numbers

TypeError: '>' not supported between instances of 'complex' and 'complex'

### min() -> it gives the minimum value in the list

In [128]:
# syntax -> min(iterable)
list1 = [1,2,3,4]
print(min(list1))
print(min(list2))
print(min(list3))

1

NameError: name 'list2' is not defined

In [ ]:
print(min(list4))
print(min(list5))
print(min(list6))

a
A

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [4]:
#print the name which highest lenght in the list
new_list = ["bhaveen", "abhiskek", "dew", "dj", "charlie", "Doctor"]

max_l = 0
name_highest_len = ""
for i in new_list:
    if len(i)>max_l:
        max_l  = len(i)
        name_highest_len = i

print(f"Element with highest length is {name_highest_len} with length {max_l}")

Element with highest length is abhiskek with length 8

### append() -> appends an element to the end of the list

In [125]:
# syntax -> list.append(elmnt)

list6 = ["a","b","c"]
# if we want to add a new element in the list then we use "+" here

list6 = list6 + ["element added using + operator"]
print(f"Element appended using + operator : {list6}")

# Here append method can also be used to add the new element
list6.append("appended element with append method")
print(f"Appended element with append method : {list6}")

Element appended using + operator : ['a', 'b', 'c', 'element added using + operator']
Appended element with append method : ['a', 'b', 'c', 'element added using + operator', 'appended element with append method']

In [9]:
list7 = list()

list7.append("a","b")
print(list7) # adding multiple elements does not work for append mwthod

TypeError: append() takes exactly one argument (2 given)

In [10]:
list7.append(["a","b"])
print(list7) # this adds list into the list

[['a', 'b']]

### pop() -> removes the element at the specified position

In [124]:
# syntax -> list.pop(pos)

list8 = [1,2,3,45,"a","b"]

list8.pop()
print(f"Removed the element with last index without specifying the index: {list8}") # removed the element from the last index

list8.pop(0)
print(f"Removed the element with 0th index as it was specifed in the pop method above:{list8}") # removed element from 0th index

Removed the element with last index without specifying the index: [1, 2, 3, 45, 'a']
Removed the element with 0th index as it was specifed in the pop method above:[2, 3, 45, 'a']

In [14]:
list8.pop(-3)
list8

[2, 45, 'a']

In [26]:
# remove odd numbers from the list
list9 = [1,2,3,4,5,6,7,8,9]

flag = 0
for i in list9:
    if i%2 != 0: # odd number here "%" gives remainder values
        list9.pop(flag)
        flag = flag + 1
print(list9)

[2, 4, 6, 8]

In [27]:
# List index of out range -> this error will be shown if there is no element at that index

list10 = [1,2,3,4,5,6,7]

print(list10[111])

IndexError: list index out of range

### sort() -> sorts the list in ascending order

In [34]:
list11 = [3,4,2,1,10,13,7]

print(sorted(list11)) # prints sorted list i.e sort the list in ascending order
print(list11) # but it is not a permanent sort sulution we need to store it in another variable

[1, 2, 3, 4, 7, 10, 13]
[3, 4, 2, 1, 10, 13, 7]

In [35]:
list12 = [2,5,1,13,11,45,-11]
print(list12)
list12.sort() # this is a permanent sort method
print(list12)

[2, 5, 1, 13, 11, 45, -11]
[-11, 1, 2, 5, 11, 13, 45]

### reverse() -> it reverse the list

In [36]:
#[::-1]

print(list12)
list12[::-1] # reverse

[-11, 1, 2, 5, 11, 13, 45]

[45, 13, 11, 5, 2, 1, -11]

In [38]:
#list13.sort(reverse=True)

list13 = [-11, 1, 2, 5, 11, 13, 45]
print(list13)
list13.sort(reverse=True) # this will sort the list in reverse of descending order
print(list13)

[-11, 1, 2, 5, 11, 13, 45]
[45, 13, 11, 5, 2, 1, -11]

In [40]:
#list14.reverse()

list14 = [-11, 1, 2, 5, 11, 13, 45]
list14.reverse() # this also reverse the list
list14

[45, 13, 11, 5, 2, 1, -11]

In [41]:
a = "aditya" # string reverse
a[::-1]

'aytida'

### count() -> return the number of occurrences of an element

In [75]:
list20 = [1,1,2,2,3,3,]
list20.count(1)

2

In [74]:
# count method return the number of occurrences of element in the list
list19 = [1,2,3,4,5,6,7,78,9,9,9]
for i in list19:
    print(f"{i} is repeated {list19.count(i)} time in a list")

1 is repeated 1 time in a list
2 is repeated 1 time in a list
3 is repeated 1 time in a list
4 is repeated 1 time in a list
5 is repeated 1 time in a list
6 is repeated 1 time in a list
7 is repeated 1 time in a list
78 is repeated 1 time in a list
9 is repeated 3 time in a list
9 is repeated 3 time in a list
9 is repeated 3 time in a list

In [76]:
list21 = ["aditya", "aditya", "patil"]
for i in list21:
    print(f"{i} is repeated {list21.count(i)} time in a list")

aditya is repeated 2 time in a list
aditya is repeated 2 time in a list
patil is repeated 1 time in a list

### extend() -> it basically merges two different lists

In [78]:
list22 = [1,2,3]
list23 = [4,5,6]

print(list22 + list23) # -> Gives us a temporary merged list
print(list22)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [83]:
list24 = [1,2,3]
list25 = [4,5,6]

list24.extend(list25) # -> This permanently adds list25 to list24
print(list24)

[1, 2, 3, 4, 5, 6]

In [89]:
# Difference between append() and extend() is append() method adds the element to the list at last inddx
# where as extend() method extends the list

# append()
list24 = [1,2,3]
list25 = [4,5,6]
list24.append(list25)
print(list24)

# extend()
list24 = [1,2,3]
list25 = [4,5,6]
list25.extend(list24)
print(list25)

[1, 2, 3, [4, 5, 6]]
[4, 5, 6, 1, 2, 3]

### index() -> return the index of the element in the list

In [92]:
list26 = [1,2,3,4,5,6,7,8,9]

list26.index(1)

0

In [93]:
# find the index of the complex number in the list
list27 = [1, 2, 3, 4, 5, 1+2j, "abc"]

for i in list27:
    if type(i) == complex:
        print(list27.index(i))

5

In [100]:
# writen in the list comprehension way
a = [print(list27.index(i)) for i in list27 if type(i)  == complex]

5

In [116]:
list28 = [1,2,3,1,3,4,5,6,6,7]
list28.index(3) # -> incase of repeating elements in the list index method reutrn the index of first occuring element

2

### isinstance(object, type) -> returns True if the specified object is of the specified type, otherwise False.

In [102]:
# return the index of the element that of type complex
list27 = [1, 2, 3, 4, 5, 1+2j, "abc"]

for i in list27:
    if isinstance(i, complex):
        print(list27.index(i))

5

In [106]:
# return the index of the element that of type complex and integer

list27 = [1, 2, 3, 4, 5, 1+2j, "abc"]

for i in list27:
    if isinstance(i, complex) or isinstance(i, int):
        print(f"{list27.index(i)} : {i} : {type(i)}")

0 : 1 : <class 'int'>
1 : 2 : <class 'int'>
2 : 3 : <class 'int'>
3 : 4 : <class 'int'>
4 : 5 : <class 'int'>
5 : (1+2j) : <class 'complex'>

In [110]:
# alternative way for above problem statement

list27 = [1, 2, 3, 4, 5, 1+2j, "abc"]

for i in list27:
    if isinstance(i, (complex, int)): # convetional way / pythonic way / standard way
        print(f"{list27.index(i)} : {i} : {type(i)}")

0 : 1 : <class 'int'>
1 : 2 : <class 'int'>
2 : 3 : <class 'int'>
3 : 4 : <class 'int'>
4 : 5 : <class 'int'>
5 : (1+2j) : <class 'complex'>

In [114]:
# list comprehension way
a = [print(f"{list27.index(i)} : {i} : {type(i)}") for i in list27  if isinstance(i, (complex, int)) ]

0 : 1 : <class 'int'>
1 : 2 : <class 'int'>
2 : 3 : <class 'int'>
3 : 4 : <class 'int'>
4 : 5 : <class 'int'>
5 : (1+2j) : <class 'complex'>

### insert() ->  inserts the specified value at the specified position

In [118]:
# syntax -> list.insert(pos, elmnt)

# insert "aditya" in the list at position 0th index
a = [1,2,3]
a.insert(0, "aditya")
print(a)

['aditya', 1, 2, 3]

In [119]:
a = [1,2,3]
a.insert(2000, "aditya") 
print(a)

[1, 2, 3, 'aditya']

In [120]:
a = [1,2,3]
a.insert(-2000, "aditya")
print(a)

['aditya', 1, 2, 3]

In [121]:
a.insert(-1, [1,2,3,4,5])
print(a)

['aditya', 1, 2, [1, 2, 3, 4, 5], 3]

### remove() -> removes the first occurrence of the element with the specified value

In [123]:
# syntax -> list.remove(elmnt)

a = [1,2,3,1,4,5]
a.remove(1)
print(a)

[2, 3, 1, 4, 5]

# Nested Lists -> list inside a list

In [42]:
list15 = [[1,2,3], [4,5],[6,7,8], [9,10]]

list15

[[1, 2, 3], [4, 5], [6, 7, 8], [9, 10]]

In [44]:
print(list15[0])
print(list15[1])
print(list15[2])

[1, 2, 3]
[4, 5]
[6, 7, 8]

In [45]:
# lest say we want to print 5
list15 = [[1,2,3], [4,5],[6,7,8], [9,10]]

list15[1][1]

5

In [49]:
list16=  [[1,2,3], [4,5],[6,7,8], [9,10,[11,12,13]]]
# lest we want to access 12

print(list16[3])
print(list16[3][2])
print(list16[3][2][1])

[9, 10, [11, 12, 13]]
[11, 12, 13]
12

In [54]:
# access "Hii" from the given list
list17 = [[1,2,3],[11,22,33,[500,502]], [45, [239, 'Hii'], 56, 77]]

list17[2][1][1]

'Hii'

In [58]:
# find the total cost of the amazon cart
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]]

total_cost = 0
for i in range(len(amazon_cart)):
    total_cost = total_cost + amazon_cart[i][1]

print(f"total cost of cart is : {total_cost}")

total cost of cart is : 65000

# List Comprehension (not recommended for production level code)

In [61]:
# create a new list from the list18 that contains the sq of each element
list18 = [1,2,3,4,5]

Sq_list = list()
for i in list18:
    Sq_list.append(i*i)
print(list18)
print(Sq_list)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [62]:
# instead of using multiplle lines of code for above problem statment
# we can apply the for in in just one line of code

new_sqlist = list()
new_sqlist = [i*i for i in list18] # -> this is called as list comprehension
print(new_sqlist)

[1, 4, 9, 16, 25]

In [68]:
# only take the square of odd numbers for list18

oddsq = list()

oddsq = [i*i for i in list18 if i%2 !=0] # -> list comprehension with if condition
oddsq

[1, 9, 25]

In [73]:
# count method return the number of occurrences of element in the list
list19 = [1,2,3,4,5,6,7,78,9,9,9]
for i in list19:
    print(f"{i} is repeated {list19.count(i)} time in a list")

1 is repeated 1 time in a list
2 is repeated 1 time in a list
3 is repeated 1 time in a list
4 is repeated 1 time in a list
5 is repeated 1 time in a list
6 is repeated 1 time in a list
7 is repeated 1 time in a list
78 is repeated 1 time in a list
9 is repeated 3 time in a list
9 is repeated 3 time in a list
9 is repeated 3 time in a list

### All List Methods

In [108]:
"""
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list
"""

'\nappend()\tAdds an element at the end of the list\nclear()\tRemoves all the elements from the list\ncopy()\tReturns a copy of the list\ncount()\tReturns the number of elements with the specified value\nextend()\tAdd the elements of a list (or any iterable), to the end of the current list\nindex()\tReturns the index of the first element with the specified value\ninsert()\tAdds an element at the specified position\npop()\tRemoves the element at the specified position\nremove()\tRemoves the item with the specified value\nreverse()\tReverses the order of the list\nsort()\tSorts the list\n'

# --------------------------------------------------------------------------

# 2. Tuple

### Tuples are used to store multiple items in a single variable.
### A tuple is a collection which is ordered and unchangeable or unmutable.
### Tuples are written with round brackets.
### Used to store important information which we dont want to change

In [18]:
t1 = (1,2,3) # -> Tuple
type(t1)

tuple

## Creating an empty tuple

In [58]:
t22 = tuple()
print(t22)
len(t22)

()

0

## Accessing elements of tuple

In [6]:
# syntax -> tuple[index]

t2 = (1,2,3)
print(t2[-1]) # -> accessing last element of tuple
print(t2[0]) # -> accessing first element of tuple

3
1

## Tuple's Immutablity (not allowed)

In [8]:
t3 = (1,2,3)
t3[0] = 5 # -> changing/replacing the elements of tuple is not allowed

TypeError: 'tuple' object does not support item assignment

## Sorting

In [14]:
# Not Allowed
t4 = (2,1,4,0,6)
t4.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [13]:
t4 = (2,1,4,0,6)
print(sorted(t4)) # -> this method convetrs the tuple into a sorted list
print(type(sorted(t4)))

[0, 1, 2, 4, 6]
<class 'list'>

## Length of the tuple

In [15]:
t5 = (1,2,3,7,4,1,0)
len(t5)

7

## max()

In [20]:
t6 = (3,2,0,8,10,22)
max(t6)

22

## min()

In [21]:
t7 = (3,2,0,8,10,22)
min(t7)

0

## index() -> returns the index of the element in the tuple

In [22]:
t8 = (3,2,0,8,10,22)
t8.index(3)

0

## count() -> return the number of occurrences of the element in the tuple

In [23]:
t9 = (2,1,1,0,5,5,5,5)
t9.count(5)

4

## sum() -> return the sum of the elements in the tuple

In [26]:
t10 = (1,2,3,4,5)
sum(t10) #-> return the sum of the elements in the tuple

15

## concatenation -> merging two different tuple

In [29]:
t11 = (1,2,3)
t12 = (4,5,6)
print(t11+t12) # -. not permanent as not stored in the another variable
print(t11)

(1, 2, 3, 4, 5, 6)
(1, 2, 3)

## Insertig elements in the tuple

In [36]:
# as tuples are immutable they cannot be modified or appended
# But we can insert elements into the tuple but converting tuples to list 

# add 100 in the tuple
t13 = (1,2,3,4,5)
t13_list = list(t13) # -> converted tuples into a list 

t13_list.append(100) 
print(t13_list)
print(type(t13_list))
t13_tuple = tuple(t13_list) # -> converted list back into a tuple
print(t13_tuple)
type(t13_tuple)

[1, 2, 3, 4, 5, 100]
<class 'list'>
(1, 2, 3, 4, 5, 100)

tuple

In [42]:
# add 100 in the tuple at 0th index
t14 = (1,2,3,4,5)

t14_list = list(t14)
print(t14_list)
t14_list.insert(0, 100)
print(t14_list)
print(type(t14_list))
t14_tuple = tuple(t14_list)
print(t14_tuple)
print(type(t14_tuple))

[1, 2, 3, 4, 5]
[100, 1, 2, 3, 4, 5]
<class 'list'>
(100, 1, 2, 3, 4, 5)
<class 'tuple'>

## use case of tuple

In [45]:
# use case of tuple

amazon_cart = [("pen", 1000), ("laptop", 50000), ("mobile", 5000)] # here product and its price is intact & it cannot be changed.

# find the total cost of the amazon cart

total_cost = 0
for i in amazon_cart:
    total_cost = total_cost + i[1]

print(total_cost)

56000

In [53]:
# user input -> what you want to purchase ?
# show price of the product and if not available show out of stock



amazon_website = [("pen", 1000), ("laptop", 50000), ("mobile", 5000)] # products on website

user_input = input("What you want to purchase ?").lower()
for i in amazon_website:
    if user_input  == i[0]:
        print(f"Price of {user_input} is {i[1]}")
        
    else:
        print("out of stock")

out of stock
out of stock
out of stock

### All Tuple Methods

In [107]:
"""
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found
"""

'\ncount()\tReturns the number of times a specified value occurs in a tuple\nindex()\tSearches the tuple for a specified value and returns the position of where it was found\n'

# --------------------------------------------------------------------------

# 3. Sets

### Sets are used to store multiple items in a single variable.
### A set is a collection which is unordered, unchangeable, and unindexed.
### Sets are written with curly brackets.
### Duplicates are not allowed in sets.
### Sets are mutable.

In [1]:
s1 = {1,2,3} # -> set
type(s1)

set

In [60]:
# duplicates not allowed in sets

s2 = {1,2,3,1,1,1}
print(s2)

{1, 2, 3}

In [10]:
# remove the duplicates from the given list
# -> convert the list to set and duplicates will be removed
dup = [1,1,2,3,4,4,5,6,7,7]

no_dup = set(dup)
print(no_dup)

{1, 2, 3, 4, 5, 6, 7}

## Creating an empty set

In [65]:
s3 = set()
print(s3)
len(s3)

set()

0

In [64]:
s4 = {} # -> do not gives the set as data type coz its for dictionary
# always use set() method to create empty sets
type(s4)

dict

## accessing elements of set using indexing (not allowed)

In [67]:
# sets are not ordered
s5 = {1,2,3}
s5[0]

TypeError: 'set' object is not subscriptable

## accessing elements of set using for loop

In [68]:
s6 = {1,2,3}
for i in s6:
   print(i)

1
2
3

## add() -> Once a set is created, you cannot change its items, but you can add new items.

In [70]:
s7 = {1,2,3}
s7.add("abc")
print(s7)

{1, 2, 3, 'abc'}

## update() -> To add items from another set into the current set, use the update() method.

In [71]:
s7 = {1,2,3}
s8 = {4,5}
s7.update(s8)
print(s7)

{1, 2, 3, 4, 5}

## remove() -> To remove items from set

### If the item to remove does not exist, remove() will raise an error.

In [72]:
s9 = {1,2,3}
s9.remove(3)
print(s9)

{1, 2}

In [73]:
s9.remove("abc") # -> If the item to remove does not exist, remove() will raise an error.

KeyError: 'abc'

## discard() -> To remove items from set

###  If the item to remove does not exist, discard() will NOT raise an error.

In [74]:
s10 = {1,2,3}
s10.discard(1)
s10

{2, 3}

In [76]:
s11 = {1,2,3}
s11.discard("abc") #->  If the item to remove does not exist, discard() will NOT raise an error.

## Join Two Sets

#### union()/update() -> returns a new set containing all items from both sets also duplicates will be removed.

In [7]:
s12 = {1,2,3}
s13 = {1,2,3}
s15 = {4,5,6}
s14 = s12.union(s13) # -. even though its combining the elements of both sets, it is not repaeting the elements.
print(f"Combination of s12 & s13 : {s14}")
s16 = s12.union(s15)
print(f"fCombination of s12 & s15: {s16}")

Combination of s12 & s13 : {1, 2, 3}
fCombination of s12 & s15: {1, 2, 3, 4, 5, 6}

#### intersection_update() -> keep only the items that are present in both sets i.e. it keeps only duplicates

In [16]:
s17 = {1,2,3}
s18 = {2,3,4,5,6}
s17.intersection_update(s18) # -> this cannot be stored in new variable s17 itself is modified.
print(s17)

{2, 3}

#### intersection() -> returns a new set, that only contains the items that are present in both sets.

In [18]:
s17 = {1,2,3}
s18 = {2,3,4,5,6}
s19 = s17.intersection(s18) # -> this can be stored in new variable.
print(s19)

{2, 3}

#### symmetric_difference_update() -> it will keep only the elements that are NOT present in both sets.

In [20]:
s20 = {1,2,3,4}
s21 = {3,4,5,6}
s20.symmetric_difference_update(s21) # -> this cannot be stored in new variable
print(s20)

{1, 2, 5, 6}

#### symmetrin_difference() -> it will return a new set, that contains only the elements that are NOT present in both sets.

In [21]:
s20 = {1,2,3,4}
s21 = {3,4,5,6}
s23 = s20.symmetric_difference(s21) # -> this can be stored in new variable
print(s23)

{1, 2, 5, 6}

In [22]:
#  The values True and 1 are considered the same value in sets, and are treated as duplicates

s20 = {1,2,3,4}
s21 = {True, 4, 5, 6}
s23 = s20.symmetric_difference(s21) # -> this can be stored in new variable
print(s23)

{2, 3, 5, 6}

### All Set Methods

In [106]:
"""
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others
"""

'\nadd()\tAdds an element to the set\nclear()\tRemoves all the elements from the set\ncopy()\tReturns a copy of the set\ndifference()\tReturns a set containing the difference between two or more sets\ndifference_update()\tRemoves the items in this set that are also included in another, specified set\ndiscard()\tRemove the specified item\nintersection()\tReturns a set, that is the intersection of two other sets\nintersection_update()\tRemoves the items in this set that are not present in other, specified set(s)\nisdisjoint()\tReturns whether two sets have a intersection or not\nissubset()\tReturns whether another set contains this set or not\nissuperset()\tReturns whether this set contains another set or not\npop()\tRemoves an element from the set\nremove()\tRemoves the specified element\nsymmetric_difference()\tReturns a set with the symmetric differences of two sets\nsymmetric_difference_update()\tinserts the symmetric differences from this set and another\nunion()\tReturn a set containing the union of sets\nupdate()\tUpdate the set with the union of this set and others\n'

# --------------------------------------------------------------------------

## 3. Dictionary
### Dictionaries are used to store data values in key:value pairs.
### A dictionary is a collection which is ordered*, changeable and do not allow duplicates. (ie. a key value must be unique)
### Values can be duplicate.
### Dictionaries are written with curly brackets.

In [7]:
# Syntax -> {key1:value, key2:value}

a = {1:'a',2:'b',3:'c',4:'d'}
a

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

## keys - must be unique

In [15]:
a1 = {1:"a"}

In [21]:
a2 = {(1,2,3): "abc"} # we can take tuples as a key

In [20]:
a3 = {[1,2,3]:"abc"}

TypeError: unhashable type: 'list'

In [17]:
a4 = {[1,2,3]:"a"} # we cannot take list as a key

TypeError: unhashable type: 'list'

In [19]:
a5 = {{1,2,3}:"a"} # we cannot set list as a key

TypeError: unhashable type: 'set'

In [24]:
a6 = {"name": "aditya", "org": "ineuron", "mail_id": "abc@gmail.com","name":"xyz"}

In [27]:
print(a6) # it is not show first name because it will try to adopt the latest value. 
# so when iterating left to right over the dict the value of name was xyz hence print name:xyz.

{'name': 'xyz', 'org': 'ineuron', 'mail_id': 'abc@gmail.com'}

## Creating an empty dictionary

In [2]:
a = dict()

In [3]:
type(a)

dict

In [10]:
d = {} #-> not recommended 
type(d)

dict

## Adding elements to a dictionary

In [89]:
c = {1:"rohan", 2:"anish", 3:"amol"}
c[4] = "ashish"
print(c)

{1: 'rohan', 2: 'anish', 3: 'amol', 4: 'ashish'}

### update() - Used for updating and adding elements to a dictionary

In [91]:
c = {1:"rohan", 2:"anish", 3:"amol"}
c.update({1:"abhik"})
print(c)

{1: 'abhik', 2: 'anish', 3: 'amol'}

## Accessing Item of a Dictionary

In [30]:
c = {1:"rohan", 2:"anish", 3:"amol"}
# lets say we want to access name of roll no 3.

c[3]

'amol'

In [36]:
b1 = {"name": "aditya", "mentor": {"fsds":"imran", "fsda":"anand", "bigdata":"shashank"}}
# extract mentor of bigdata
b1["mentor"]["bigdata"]

'shashank'

#### get() - accessing item of a dictionary

In [31]:
c = {1:"rohan", 2:"anish", 3:"amol"}
# lets say we want to access name of roll no 3.

c.get(3)

'amol'

## key() - will return a list of all the keys in the dictionary.

In [34]:
c = {1:"rohan", 2:"anish", 3:"amol"}
c.keys()

dict_keys([1, 2, 3])

## values() - will return a list of all the values in the dictionary.

In [43]:
c = {1:"rohan", 2:"anish", 3:"amol"}
c.values()

dict_values(['rohan', 'anish', 'amol'])

## items() - return each item in a dictionary, as tuples in a list.

In [44]:
c = {1:"rohan", 2:"anish", 3:"amol"}
c.items()

dict_items([(1, 'rohan'), (2, 'anish'), (3, 'amol')])

## pop() - removes the item with the specified key name.

In [95]:
c = {1:"rohan", 2:"anish", 3:"amol"}
c.pop(1)
print(c)

{2: 'anish', 3: 'amol'}

## popitem() - removes the last inserted item

In [100]:
c1 = {1:"rohan", 2:"anish", 3:"amol"}
c1.update({4:"xyz"})
print(c1)
c1.popitem()
print(c1)

{1: 'rohan', 2: 'anish', 3: 'amol', 4: 'xyz'}
{1: 'rohan', 2: 'anish', 3: 'amol'}

## del keyword - removes the item with the specified key name
## del keyword - can also delete the dictionary completely

In [102]:
c2 = {1:"rohan", 2:"anish", 3:"amol"}
del c2[1]
print(c2)

{2: 'anish', 3: 'amol'}

In [104]:
del c2 # deletes the dictionary completely

NameError: name 'c2' is not defined

## Nested Dictionary

In [28]:
b1 = {"name": "aditya", "mentor": {"fsds":"imran", "fsda":"anand", "bigdata":"shashank"}}

In [29]:
b1

{'name': 'aditya',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'}}

In [86]:
# If values of key is dict then return the values of the that dictionary.

b1 = {"name": "aditya", "mentor": {"fsds":"imran", "fsda":"anand", "bigdata":"shashank"}}

def test(data):
    l = list()
    """Returns the values if the values of any keys is dict"""
    for i in data.keys():
        if type(data[i]) == dict:
            l.append(list(data[i].values()))
    return l

In [87]:
test(b1)

[['imran', 'anand', 'shashank']]

In [88]:
b2 = {"name": "aditya", "mentor": {"fsds":"imran", "fsda":"anand", "bigdata":"shashank"}, "mail":{"imran":'abc@gmail.com', "anand":'xyz@gmail.com', "shashank":'asd@gmail.com'}}
test(b2)

[['imran', 'anand', 'shashank'],
 ['abc@gmail.com', 'xyz@gmail.com', 'asd@gmail.com']]

## All Dictionary Methods

In [105]:
"""
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary
"""

"\nclear()\tRemoves all the elements from the dictionary\ncopy()\tReturns a copy of the dictionary\nfromkeys()\tReturns a dictionary with the specified keys and value\nget()\tReturns the value of the specified key\nitems()\tReturns a list containing a tuple for each key value pair\nkeys()\tReturns a list containing the dictionary's keys\npop()\tRemoves the element with the specified key\npopitem()\tRemoves the last inserted key-value pair\nsetdefault()\tReturns the value of the specified key. If the key does not exist: insert the key, with the specified value\nupdate()\tUpdates the dictionary with the specified key-value pairs\nvalues()\tReturns a list of all the values in the dictionary\n"