# Functions
#### A function is a block of code which only runs when it is called.

#### We can pass data, known as parameters, into a function.

#### A function can return data as a result.

#### We use functions to increase reuablity of the code.

## Creating a function

In [3]:
# Syntax -> def function_name():

def test():

# we are getting error because the function does hold any code in it.

SyntaxError: unexpected EOF while parsing (2708862814.py, line 3)

## Creating an empty function

In [4]:
def test():
    pass    # -> pass keyword is used to create an empty function

In [7]:
def test1():
    pass    # -> pass keyword is used to create an empty function

## Adding functionality to the function

In [9]:
def test():
    print("Welcome to my first function")

## Calling the function

In [12]:
# syntax -> function_name()

test()

Welcome to my first function

## Storing the function in a Variable

In [13]:
b = test()

Welcome to my first function

In [14]:
b

In [16]:
s = "adi"

In [17]:
type(s)

str

In [18]:
type(test())

Welcome to my first function

NoneType

In [26]:
# the type of test() function is none we cannot store it in the variable.
# as print always return none type.
# hence we cannot store it in the variable.

In [20]:
def test1():
    return 5

In [21]:
test1()

5

In [22]:
d = test1()

In [23]:
d

5

In [24]:
type(test1())

int

In [27]:
def test3():
    return 10 # will reurn primitive data type

In [28]:
def test4():
    print (" this my print return")

In [29]:
test3()

10

In [30]:
test4()

 this my print return

In [31]:
e = test4()

 this my print return

In [33]:
# this operation is not possible e is of none type and "adi" is string
# for concatenation both needs to be of same type
e + 'adi'

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [34]:
def test5():
    return "adi"

In [35]:
test5() + "abc"

'adiabc'

## Indentation in function

In [36]:
def test6():
print("Hello")

IndentationError: expected an indented block (2892244473.py, line 2)

In [37]:
def test6():
    print("Hello")

## Returning multiple elements

In [40]:
# Function can return multiple elements

def test7():
    return 1,2,3,[1,2,3],"adi",(1,2,3,4,5,6)

In [39]:
test7()

(1, 2, 3, [1, 2, 3], 'adi', (1, 2, 3, 4, 5, 6))

In [44]:
# access "adi" from the return
# we can do it using indexing
test7()[4]

'adi'

In [46]:
# access 6 from the return

test7()[5][5]

6

In [47]:
# assinging return elements to the diff variable
def test8():
    return 1,2,3,[1,2,3],"adi",(1,2,3,4,5,6)

In [49]:
a,b,c,d,e,f = test8()

In [51]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

1
2
3
[1, 2, 3]
adi
(1, 2, 3, 4, 5, 6)

In [52]:
def test9():
    a = 4*5 + 8
    return a

In [56]:
test9()

28

In [55]:
test9() * 10

280

In [57]:
type(test9())

int

## Packaging

In [58]:
# calculate the sum of all the integers without using sum()
l1 = [2,3,4,5,6,7,8,9]
total = 0
for i in l1:
    total = total + i
print(total)

44

In [63]:
# convert the above problem into a function

def test10():
    l = [2,3,4,5,6,7,8,9,'adi']
    total = 0
    for i in l:
        if type(i) == int:
            total = total + i
    return total

In [64]:
test10()

44

In [75]:
# calculate the sum of all numerinc values.
l1 = [4,5,6,7,7,8,"abc",4.56]
def test11():
    l1 = [4,5,6,7,7,8,"abc",4.56]
    total = 0
    for i in l1:
        if type(i)  == int or type(i) == float:
            total = total + i
    return total

In [76]:
test11()

41.56

## Passing Arguments

In [87]:
# like above every time writing a code for every diff type of list is very tedious task.
# to avoid this we can pass arguments to the function
# where we can pass any diff type of data to find the sum of numeric element

def test12(data):
    total = 0
    for i in data:
        if type(i)  == int or type(i) == float:
            total = total + i
    return total

In [78]:
test12() #->we have not passed any argument hence showing an error

TypeError: test12() missing 1 required positional argument: 'l'

In [88]:
l2 = [1,2,3,4,5,'adi']
test12(l2)

15

In [89]:
def test13(a,b): #-> a,b means we are supposed to pass two arguments
    return a+b

In [91]:
test13(2,3)

5

In [93]:
test13("ab","cd")

'abcd'

In [100]:
# creat a new list which holds only the string values
l3 = [3,4,5,6,7,8,'abc',5,6,7,'cd','xy']
def test14(data):
    new_list = list()
    for i in data:
        if type(i) == str:
            new_list.append(i)
    return new_list

In [101]:
test14(l3)

['abc', 'cd', 'xy']

In [ ]:
len()

## Adding docstring

In [106]:
# docstring is information about the function

def test14(data):
    """This a function which will help to seperate a string elements from a list.""" # -> docstring
    new_list = list()
    for i in data:
        if type(i) == str:
            new_list.append(i)
    return new_list

In [107]:
#1. write a function which will try to find out length of a string without using an inbuilt function len() function.
#2. Write a function which will be able to print an index of list elements without using an index function.
#   ex- element:index, element:index
#3. Write a function which will be able to print an ip address of your system.
#4. Write a function which will shut down your computer system.
#5  Write a function which will take input as a list with any kind of numeric value and give an output as a multiplication of the numric data
#   l = [3.5,6.56,4,5,'sudh','ineuron','abc']
#6. Write a function which will able to read all the mails
#7. Write a function which will able to send a mail to anyone
#8  Write a function which will to read a doc file from your system.